:root {
	font-family: 'Open Sans';
	color: black;
    background-color: rgb(248, 248, 248);
}

.title {
    font-weight: bolder;
    display:inline-block;
    vertical-align:top;
    font-size: 2rem;
    padding-top: 1.55vh;
}

.creditFAKE{
	position: relative;
	min-height: 1px;
	padding-right: 33%;
	padding-left: 33%;
	padding-top: 30vh;

	font-size: 2em;
	width: 100%;
}

.logo {
    width: 150px;
    display:inline-block;
    vertical-align: top;
    padding-top: 2.8vh;
    padding-left: 15px;
}

.topbar{
    display:inline-block;
    vertical-align:top;
}

#center{
    width: 80vw; 
    margin: 0 auto; 
    background: white; 
    color: black; 
    box-shadow: 4px 3px 8px 1px #969696;
  	-webkit-box-shadow: 4px 3px 8px 1px #969696;

}

.randombutton{
    position:absolute;
    margin-left: 2vw;
    cursor: pointer;


    padding-top: 2vh;
    padding-bottom:2vh;
    padding-left: 2vw;
    padding-right:2vw;

	background-color: rgb(0, 123, 194);
	color: rgb(255, 255, 255);
	font-weight: bold;
	border-radius: 5px;
    font-size: 1.5em;
}

.gamebutton{
    position:absolute;
    margin-left: 15vw;
    cursor: pointer;


    padding-top: 2vh;
    padding-bottom:2vh;
    padding-left: 2vw;
    padding-right:2vw;

	background-color: rgb(0, 123, 194);
	color: rgb(255, 255, 255);
	font-weight: bold;
	border-radius: 5px;
    font-size: 1.5em;
}